.company
 =render "reports/header"
 - breadcrumb :company
 = render "layouts/breadcrumbs"

 .company-contents
  .company-data
   .company-title
    %tr
     %th『登録フォーム』
   .company-box
    = form_for [@company] do |f|
     =render partial: "company_form", locals: { f: f}
   .search-box
    %p ＜訪問先 検索＞
    =render "search"
    .search-left
     =icon("fas", "arrow-circle-up" ,class:'up')

  .company-lists
   .company-list
    %tr
     %th ＜訪問先 一覧＞
     %th
      =icon('fas', 'building', class: 'icon')
     %th 
      = @plus
     %th 件
   .company-list-1
    .pagi
     =paginate(@data)
    -@data .each do |company|
     - if current_user_has?(company)
      .link-box
       = link_to company_path(company.id) , method: :delete, data: { confirm: "削除しますか？" } do
        %th 削除
       = link_to edit_company_path(company.id) do
        %th 編集
     - if user_signed_in?
      .link-show
       = link_to company_path(company.id) do
        %th 詳細
    
     %table.company-box-new
      %tr
       %th{:width => "40"} 登録者:
       %th{:width => "50"} 
        = company.user.name
       %th{:width => "280"} 
        = company.created_at.to_s(:datetime_jp)
     %table.copmany-box{:border => "2"}
      %tr
       %th{:width => "150"} 会社名
       %th{:width => "500"}
        =company.name
      %tr
       %th 住所
       %th
        =company.postcode
      %tr
       %th 電話番号
       %th
        =company.phone_number
      %tr
       %th 資本金
       %th
        =company.capital
      %tr
       %th 売上高
       %th 
        =company.sale
      %tr
       %th 事業内容
       %th 
        =company.description
      %tr
       %th 特徴
       %th 
        =company.characteristic
      %tr
       %th URL
       %th 
        = text_url_to_link(h(company.url)).html_safe
  
       