.com-header
 %h1 Daily-Report
 - breadcrumb :comment
 = breadcrumbs separator: " &rsaquo; "

.com-titles
 %p ＜日報＞

.com-contens
 .com-content-left
  .com-title 
   %p ＜コメント投稿＞
  .comment
   - if current_user 
    = form_for [@report, @comment] do |f|
     =f.text_area :content, class: "com-text" ,size: "48x7" 
     =f.submit 'コメントする', class: "com-input-box-btn", data: { confirm: "コメントしますか？" } 
  
 .com-contents-right
  %table.com-report-box-new
   %tr
    %th 投稿者:
    %th
     = @report.user.name
   %tr
    %th 投稿日:
    %th
     = @report.created_at.to_s(:datetime_jp)
  %table.com-report-box{:border => "2"}
   %tr
    %th{:width => "200"} 訪問日
    %th{:width => "600"}
     =@report.date
    %tr
     %th 訪問先
     %th
      =@report.where
    %tr
     %th 応対者
     %th
      =@report.reponder
     %tr
      %th 同行者
      %th
       =@report.companion
     %tr
      %th 打合せ内容
      %th 
       =@report.text
        
  .comments
   %p ＜コメント一覧＞
   -@comments.each do |comment|
    .comments-boxes
    = link_to report_comment_path(comment.report.id, comment.id) , method: :delete, data: { confirm: "削除しますか？" } do
     =icon('far','trash-alt', class: 'icon')
    %table.comment-box
     %tr
      %th 投稿者:
      %th{:width => "80"} 
       =comment.user.name
      %th 
       =comment.content
    